# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ComputerGraphics
/x64/Debug
/vulkanTriangle/x64/Debug/vulkanTriangle.vcxproj.FileListAbsolute.txt
/vulkanTriangle/x64/Debug/vulkanTriangle.log
/vulkanTriangle/x64/Debug/vulkanTriangle.Build.CppClean.log
/vulkanTriangle/x64/Debug
/vulkanTriangle/x64/Release
